
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

    <div class="about-content">

        <div class="resume-list">
            <div class="resume-list-portrait">
                <img src="~/images/A_thumbnail.jpg" alt="" />
            </div>
            <div class="resume-section">
                <p>Download my resume</p>
                <!-- file icon -->
                <a href="~/resume.docx">&#128196;</a>
            </div>
            <div class="skills">
                <h2>Skills</h2>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                    <li>VB</li>
                    <li>C#</li>
                    <li>C/C++</li>
                    <li>ASP.NET Webforms</li>
                    <li>ASP.NET MVC</li>
                    <li>PHP</li>
                    <li>SQL</li>
                    <li>Networking</li>
                    <li>OS Configuration</li>
                    <li>DNS Configuration</li>
                </ul>
            </div>

            <ul>
                <li><h1>Job Experience</h1></li>
                <li><p>Pittsburgh, PA</p></li>
                <li><p>15235</p></li>
                <li><p>arosr79@gmail.com</p></li>
            </ul>
            <ul>
                <li><h1>American Society of Civil Engineers</h1></li>
                <li><p>Website Development, February 2018 – June 2018</p></li>
                <li><p>Design and develop a responsive website for ASCE’s Pennsylvania Report Card of Infrastructure for 2018</p></li>
                <li><p>HTML5, CSS, JQuery, JavaScript, AJAX</p></li>
                <li><a href="http://www.pareportcard.org/TEST2018/default.html">pareportcard/TEST2018</a></li>
            </ul>
            <ul>
                <li><h1>Russell Standard Corporation</h1></li>
                <li><p>Website Development, July 2018 – Current</p></li>
                <li><p>Design and develop responsive websites for Russell Standard and Lake Erie Traffic Control companies.</p></li>
                <li><p>Managed a website through wordpress while developing a brand new website.</p></li>
                <li><p>Greatly improved my skills as a full stack web developer.</p></li>
                <li><p>Imagined and architected application designes and brought them to life.</p></li>
                <li><p>Built database on webserver and client side controls that run queries to pass to the server.</p></li>
                <li><h2>Technologies</h2></li>
                <li><p>HTML5, CSS, JQuery, JavaScript, AJAX, JSON, XML, Node Js, Angular.JS, ASP.NET Webforms, ASP.NET MVC, ASP.NET Core,</p></li>
                <li><a href="http://www.okwhoa.com/rsmvc/">Russell Standard Website</a></li>
            </ul>
            <ul>
                <li><h1>Education</h1></li>
                <li><h2>Community College of Allegheny County</h2></li>
                <li><p>Associate Degree in Computer Information Systems, December 2017</p></li>
                <li><p>Penn Hills High School</p></li>
                <li><p>High school diploma, June 2014</p></li>

                <li><p>Experience with various programming languages such as Visual Basic, C#, C++, JavaScript, JQuery, HTML5, CSS, SQL.</p></li>
                <li><p>Proficient in Visual Studio, Visual Studio for Mac, Xcode, Photoshop, Dreamweaver, Premier Pro, SQL Server Management Studio.</p></li>
                <li><p>Very proficient in configuring Windows and MacOS operating systems including performing clean installs, system backups and restores and troubleshooting hardware and software issues</p></li>

            </ul>
        </div>

    </div> <!-- End about content -->

    <div class="col-grid">
        <div class="col1">
            <a href="https://www.okwhoa.com/rsmvc"><img src="~/images/rs-slice-1.jpg" /></a>
        </div>
        <div class="col2">
            <a href="https://www.okwhoa.com/rsmvc"><img src="~/images/rs-slice-2.jpg" /></a>
        </div>
        <div class="col3">
            <a href="https://www.okwhoa.com/rsmvc"><img src="~/images/rs-slice-3.jpg" /></a>
        </div>
    </div>
    <div class="about-content">
        <div class="resume-list">
            <ul>
                <li><h1>Russell Standard Corporation</h1></li>
                <li><p>Lake Erie Traffic Control Branch</p></li>
                <li><p>Design and develop responsive websites for Russell Standard and Lake Erie Traffic Control companies.</p></li>
            </ul>
        </div>
    </div>
    <div class="col-grid">
        <div class="col1">
            <a href="https://www.lakeerietraffic.com/test"><img src="~/images/letc-slice1.jpg" /></a>
        </div>
        <div class="col2">
            <a href="https://www.lakeerietraffic.com/test"><img src="~/images/letc-slice2.jpg" /></a>
        </div>
    </div>

    <script type="text/javascript" language="javascript" src="script.js"></script>

<!--
    <div class="resume-header">
        <ul>
            <li><h1>Job Experience</h1></li>
            <li><img src="images/thumbnails/A_thumbnail.jpg" alt="" /></li>
            <li><p>Pittsburgh, PA</p></li>
            <li><p>15235</p></li>
            <li><p>arosr79@gmail.com</p></li>
        </ul>
    </div>


    <ul class="job-content">
        Long John Silvers
        <li>
        Cashier, September 2014 - March 2015
        </li>
        <li>
        Customer service
        </li>
        <li>
        Opening and closing the store
        </li>
        <li>
        In charge of drive thru and lobby
        </li>
        <li>
        Food preparation
        </li>
    </ul>

    <ul class="resume-asce">
        <li><h1>American Society of Civil Engineers</h1></li>
        <li><p>Website Development, February 2018 – June 2018</p></li>
        <li><p>Design and develop a responsive website for ASCE’s Pennsylvania Report Card of Infrastructure for 2018</p></li>
        <li><p>HTML5, CSS, JQuery, JavaScript, AJAX</p></li>
        <li><a href="http://www.pareportcard.org/TEST2018/default.html">www.pareportcard.org/TEST2018</a></li>
    </ul>

    <ul class="resume-russell">
        <li><h1>Russell Standard Corporation</h1></li>
        <li><p>Website Development, July 2018 – Current</p></li>
        <li><p>Design and develop responsive websites for Russell Standard and Lake Erie Traffic Control companies.</p></li>
        <li><p>Managed a website through wordpress while developing a brand new website.</p></li>
        <li><p>Greatly improved my skills as a full stack web developer.</p></li>
        <li><p>Imagined and architected application designes and brought them to life.</p></li>
        <li><p>Built database on webserver and client side controls that run queries to pass to the server.</p></li>
        <li><h2>Technologies</h2></li>
        <li><p>HTML5, CSS, JQuery, JavaScript, AJAX, JSON, XML, Node Js, Angular.JS, ASP.NET Webforms, ASP.NET MVC, ASP.NET Core,</p></li>
        <li><a href="http://www.okwhoa.com/rs/">Russell Standard Website</a></li>
    </ul>
-->
<!--<div class="about_content">

<div class="resume-education">
    <ul>
        <li><h1>Education</h1></li>
        <li><h2>Community College of Allegheny County</h2></li>
        <li><p>Associate Degree in Computer Information Systems, December 2017</p></li>
        <li><p>Penn Hills High School</p></li>
        <li><p>High school diploma, June 2014</p></li>
    </ul>
</div>

<div class="resume-technologies">
    <ul>
        <li><p>Experience with various programming languages such as Visual Basic, C#, C++, JavaScript, JQuery, HTML5, CSS, SQL.</p></li>
        <li><p>Proficient in Visual Studio, Visual Studio for Mac, Xcode, Photoshop, Dreamweaver, Premier Pro, SQL Server Management Studio.</p></li>
        <li><p>Very proficient in configuring Windows and MacOS operating systems including performing clean installs, system backups and restores and troubleshooting hardware and software issues</p></li>
    </ul>
</div>


</div>-->
