@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="asce-header">
    <ul>
        <li>American Society of Civil Engineers</li>
    </ul>
</div>


<div class="work-showcase-box">
    <div>
        <img src="~/images/asce1.jpg" />
    </div>
    <div>
        <img src="~/images/asce2.jpg" />
    </div>
</div>





<div class="asce-tasks">
    <ul>
        <li>
            Designed and developed  pareportcard.org  a responsive website for ASCE’s Pennsylvania2018  Report Card for the Infrastructure using  HTML5, CSS, JQuery, JavaScript, AJAX
        </li>
    </ul>
</div>