@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<p>My work at ASCE </p>

<div class="work-showcase-box">
    <div>
        <img src="~/images/asce1.jpg" />
    </div>
    <div>
        <img src="~/images/asce2.jpg" />
    </div>
</div>