@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img style="max-height:360px; width:100%;object-fit:cover;object-position:center;" src="~/images/oakland_street.jpg" />
</div>
<div style="text-align:center; grid-column: 1 / -1;">
    <img src="~/images/walkway.jpg" style="height:260px; width:300px; object-fit: cover; margin: 15px;" />
    <img src="~/images/yellow_flower.jpg" style="height: 260px; width: 300px; object-fit: cover; margin: 15px;" />
    <img src="~/images/tucco_centered.jpg" style="height:260px; width:300px; object-fit: cover; margin: 15px;" />
    <img src="~/images/lightflower2.jpg" style="height:260px; width:300px; object-fit: cover; margin: 15px;" />
    <img src="~/images/cool-bridge.jpg" style="height:260px; width:300px; object-fit: cover; margin: 15px;" />
</div>

