@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}





<div class="rs-header">
    <ul>
        <li>Russell Standard Corporation - Pittsburgh, PA</li>
        <li>July 2018 to Present</li>

    </ul>



</div>





<div class="work-showcase-box">
    <div>
        <img src="~/images/rs-slice-1.jpg" />
    </div>
    <div>
        <img src="~/images/rs-slice-2.jpg" />
    </div>
    <div>
        <img src="~/images/rs-slice-3.jpg" />
    </div>
</div>


<div class="rs-tasks">
    <ul>
        <li>Designed and developed an adaptive website using HTML5, CSS, JQuery, JavaScript</li>
        <li>Implemented SSL Security Certificates across all external and internal domains to ensure security for users.</li>
        <li>Composed an internal set of applications including Personnel portal (WIKI) using C#.NET, MVC, SQL, C#</li>

        <li>Sorting and randomizing employee names app as part of internal rolling security audit.</li>

        <li>Managed, updated and modified legacy Wordpress websites.</li>

        <li>Backed up and migrated Wordpress sites to new hosting and new domain name</li>

        <li>Served as first responder for all IT related issues.</li>
        <li>Remotely supported network issues for multiple locations.</li>
        <li><a href="https://okwhoa.com/rsmvc">https://okwhoa.com/rsmvc</a></li>
        <li><a href="https://wiki.russellstandard.com">https://wiki.russellstandard.com</a></li>
    </ul>

</div>



