@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<p>My work at Russell Standard </p>

<div class="work-showcase-box">
    <div>
        <img src="~/images/rs-slice-1.jpg" />
    </div>
    <div>
        <img src="~/images/rs-slice-2.jpg" />
    </div>
    <div>
        <img src="~/images/rs-slice-3.jpg" />
    </div>
</div>