<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3f6e9a99-5716-491c-8f7b-712bae6c0071/resourceGroups/AdamsResourceGroup/providers/Microsoft.Web/sites/adamjames</ResourceId>
    <ResourceGroup>AdamsResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://adamjames.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>adamjames.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>adamjames</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$adamjames</UserName>
    <_SavePWD>True</_SavePWD>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>55523c5c-5d0b-4861-ad12-8938db9b76fb</ProjectGuid>
    <RemoteSitePhysicalPath />
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>